body {
  font-family: Arial, Helvetica, sans-serif;
}

#start-button {
  font-size: 30px;
  background-color: rgba(4, 147, 114, 1);
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 300px;
}

#restart-button {
  font-size: 30px;
  background-color: rgba(4, 147, 114, 1);
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 300px;
}

button:hover {
  background-color: rgb(4, 88, 69);
}

button:active {
  background-color: rgb(4, 88, 69);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
}

.logo-img {
  width: 500px;
  height: 500px;
  margin-bottom: -30px;
  margin-top: -65px;
}

.arrow-img {
  width: 300px;
  margin-bottom: 40px;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#canvas {
  display: none;
  position: relative;
}

.landing-page {
  width: 998px;
  height: 700px;
  background-image: url("../Images/swamp.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.instructions {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#main-content {
  margin-left: 1px;
}

h1 {
  position: absolute;
  font-size: 38px;
  margin-bottom: 550px;
}

.avoid h2 {
  margin-left: 50px;
}

.ul-eat {
  margin-bottom: 45px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.trash {
  width: 100px;
  height: auto;
}

.food {
  width: 100px;
  height: auto;
}

.hidden {
  display: none;
}
